<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" routerLink="/">
      <mat-icon>computer</mat-icon>
    </button>
    <span>Computer World</span>
    <button mat-button mat-ripple routerLink="/search-ram">
      <span>Search ram</span>
    </button>
    <button mat-button mat-ripple routerLink="/cpuSearch">
      <span>Search cpu</span>
    </button>
    <button mat-button mat-ripple routerLink="/ssdSearch">
      <span>Search ssd</span>
    </button>
    <button mat-button mat-ripple routerLink="/upgrade-component">
      <span>Find upgrades of components</span>
    </button>
    <button mat-button mat-ripple routerLink="/purposes">
      <span>Find the purposes</span>
    </button>
    <button mat-button mat-ripple routerLink="/symptoms">
      <span>Find the causes of computer symptoms</span>
    </button>
    <button mat-button mat-ripple routerLink="/similar-computers">
      <span>Find similar computers</span>
    </button>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
