<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" routerLink="/">
      <mat-icon>computer</mat-icon>
    </button>
    <span>Computer World</span>
    <button mat-button mat-ripple routerLink="/">
      <span>Search computer's components</span>
    </button>
    <button mat-button mat-ripple routerLink="/">
      <span>Find upgrades of components</span>
    </button>
    <button mat-button mat-ripple routerLink="/">
      <span>Find the purpose</span>
    </button>
    <button mat-button mat-ripple routerLink="/symptoms">
      <span>Find the causes of computer symptoms</span>
    </button>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
