mat-card {
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.ml {
  margin-left: 5px;
  width: 300px;
}

.btn {
  margin-left: 10px;
  height: 50px;
  width: 140px;
  border-radius: 10px;
}

.container {
  width: 36%;
  margin: 20px auto auto;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
}

table {
  width: 100%;
}

table td {
  max-width:max-content;
}

.table-title {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;

}
footer{
  height:10vh;
  /*Or fixed pixel unit*/
  background-color: transparent;
}

.cell-center {
  text-align: left;
}

.clickable:hover {
  font-weight: bold;
  cursor: pointer;
}

.add-button {
  margin: 10px 20px 10px 10px;
  color: black;
  background-color: #edece5;
  float: right;
}

.table-header {
  display: flex;
}

p {
  float: left;
  margin-right: auto;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  text-transform: uppercase;
}

.commands{
  display: flex;
  justify-content: end;
}


