<mat-card>
    <mat-form-field class="ml" appearance="outline">
      <mat-label>Minimum capacity</mat-label>
      <input type="number" matInput [(ngModel)]="minCapacity" placeholder="Enter minimum Capacity"/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="ml" appearance="outline">
      <mat-label>Maximum capacity</mat-label>
      <input type="number" matInput [(ngModel)]="maxCapacity" placeholder="Enter maximum Capacity"/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="ml" appearance="outline">
      <mat-label>Minimum read spead </mat-label>
      <input type="number" matInput [(ngModel)]="minReadSpeed" placeholder="Enter minimum read spead"/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="ml" appearance="outline">
      <mat-label>Maximum read spead </mat-label>
      <input type="number" matInput [(ngModel)]="maxReadSpeed" placeholder="Enter maximum read spead"/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="ml" appearance="outline">
      <mat-label>Minimum write speed</mat-label>
      <input type="number" matInput [(ngModel)]="minWriteSpeed" placeholder="Enter minimum write speed"/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="ml" appearance="outline">
      <mat-label>Maximum write speed</mat-label>
      <input type="number" matInput [(ngModel)]="maxWriteSpeed" placeholder="Enter maximum write speed"/>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <button class="btn" mat-raised-button type="submit" color="primary" (click)="searchSsd()">SEARCH</button>
    <button *ngIf="isSearched" mat-button mat-ripple (click)="clearSearch()">
      <mat-icon color= "primary" matTooltip="clear search"> cancel_presentation</mat-icon>
    </button>
  </mat-card>

  <div *ngIf="isSearched"class="container">
    <div class="table-header" *ngIf="isSearched">
      <p class="table-title">SSDs</p>
      <p *ngIf="notFound" class="table-title"> No SSDs found for entered parameters!</p>
    </div>
    <table *ngIf="isSearched" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Name </th>
        <td mat-cell *matCellDef="let ssd" class="cell-center"> {{ssd.name}} </td>
      </ng-container>

      <ng-container matColumnDef="capacityInGB">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Capacity [GB] </th>
        <td mat-cell *matCellDef="let ssd" class="cell-center"> {{ssd.capacityInGB}} </td>
      </ng-container>

      <ng-container matColumnDef="readSpeedInMBs">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Reed Speed [MB/s] </th>
        <td mat-cell *matCellDef="let ssd" class="cell-center"> {{ssd.readSpeedInMBs}} </td>
      </ng-container>

      <ng-container matColumnDef="writeSpeedInMBs">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Write Speed [MB/s] </th>
        <td mat-cell *matCellDef="let ssd" class="cell-center"> {{ssd.writeSpeedInMBs}} </td>
      </ng-container>

      <ng-container matColumnDef="interfaceSSD">
        <th mat-header-cell *matHeaderCellDef class="cell-center">interface </th>
        <td mat-cell *matCellDef="let ssd" class="cell-center"> {{ssd.interfaceSSD}} </td>
      </ng-container>

      <ng-container matColumnDef="format">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Format </th>
        <td mat-cell *matCellDef="let ssd" class="cell-center"> {{ssd.format}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <footer></footer>




